[submodule "GeoNature"]
	path = sources/GeoNature
	url = git@github.com:PnX-SI/GeoNature.git
[submodule "UsersHub"]
	path = sources/UsersHub
	url = git@github.com:PnX-SI/UsersHub.git
[submodule "gn_module_export"]
	path = sources/gn_module_export
	url = git@github.com:PnX-SI/gn_module_export.git
[submodule "gn_module_dashboard"]
	path = sources/gn_module_dashboard
	url = git@github.com:PnX-SI/gn_module_dashboard.git
[submodule "gn_module_monitoring"]
	path = sources/gn_module_monitoring
	url = https://gitlab.com/natural-solutions/geonature/onf/gn_module_monitoring.git
	branch = develop-onf
[submodule "sources/protocoles_monitoring/protocole_foret_cc"]
	path = sources/protocoles_monitoring/protocole_foret_cc
	url = https://gitlab.com/natural-solutions/geonature/onf/protocoles_monitoring/protocole_foret_cc.git
	branch=develop